{{#each this}}
  <div>
    <img src="{{flag}}" alt="{{name}}" width="80px" height="40px">
    <h1>{{name}}</h1>
  </div>
  
  <p>Capital: {{capital}}</p>
  <p>Population: {{population}}</p>
  <p>Languages:
    {{#each languages}}
    {{name}},
    {{/each}}
  </p>
{{/each}}