{{#each this}}
  <div class="country-info__card">
    <img src="{{flag}}" alt="{{name}}" width="80px" height="40px">
    <h1 class="country-info__name">{{name}}</h1>
  </div>
  
  <p><span class="country-info__subtitle">Capital</span>: {{capital}}</p>
  <p><span class="country-info__subtitle">Population</span>: {{population}}</p>
{{/each}}